{% extends "base/base.html" %}

{% load static %}

{% block title %}
	{{ single_product.product_name|safe }}
{% endblock title %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
  	<div class="container">
		<form action="{% url 'carts:add_cart' single_product.id %}" method="POST">
			{% csrf_token %}
			<!-- ============================ ITEM DETAIL ======================== -->
			<div class="row">
					<aside class="col-md-6">
						<div class="card">
							<article class="gallery-wrap"> 
								<div class="img-big-wrap">
								<div> 
								<a href="{% url 'store:shop' %}">
									<img src="{{ single_product.image.url }}">
								</a>
								</div>
								</div> 
								<div class="thumbs-wrap">

									{% if single_product.image1 %}
								<a href=" {{single_product.product.get_url}} " class="item-thumb"> <img src=" {{single_product.image1.url}} "></a>
									{% endif %}

									{% if single_product.image2 %}
										<a href="{{single_product.product.get_url}} " class="item-thumb"> <img src="{{single_product.image2.url}}"></a> 
									{% endif %}
									
									
									{% if single_product.image3 %}		
								<a href="{{single_product.product.get_url}}" class="item-thumb"> <img src="{{ single_product.image3.url }}"></a>
									{% endif %}

									
									{% if single_product.image4 %}
								<a href="{{single_product.product.get_url}}" class="item-thumb"> <img src="{{ single_product.image4.url }}"></a>
									{% endif %}

								</div> 
							</article> 
						</div>
					</aside>
					<main class="col-md-6">
						<article class="product-info-aside">
							<h2 class="title mt-3">{{ single_product.product_name|safe }} </h2>
								<div class="rating-wrap my-3">
									<ul class="rating-stars">
										<li style="width:80%" class="stars-active"> 
											<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
											<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
											<i class="fa fa-star"></i> 
										</li>
										<li>
											<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
											<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
											<i class="fa fa-star"></i> 
										</li>
									</ul>
									<small class="label-rating text-muted">132 reviews</small>
									<small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
								</div> 

								<div class="mb-3"> 
									<var class="price h4">{{ single_product.price|floatformat:2 }} GNF</var> 
									<!-- <span class="text-muted">£ 562.65 incl. VAT</span>  -->
								</div>

								<p>{{ single_product.description|safe }}</p>


								<dl class="row">
									<dt class="col-sm-3">Fabricant</dt>
									<dd class="col-sm-9"><a>{{ single_product.manufacturer|safe }}</a></dd>

									<dt class="col-sm-3">Article numéro</dt>
									<dd class="col-sm-9">596 065</dd>

									{% if single_product.free_shipping %}
										
									<dt class="col-sm-3">Livraison</dt>
									<dd class="col-sm-9">Oui</dd>

									{% endif %}


									<dt class="col-sm-3">Disponible</dt>

									{% if single_product.stock <= 0 or single_product.is_available == False %}

									<dd class="col-sm-9 text-danger"><strong>En rupture de stock</strong></dd>
									
									{% else %}

									<dd class="col-sm-9">En stock</dd>
									
									{% endif %}

								</dl>

									
								<div class="form-row  mt-4">
									
									{% if single_product.variation_set.colors and single_product.variation_set.sizes %}
										
									<div class="form-group col-md">
																			
										<select name="couleur" id="" class="form-control col-sm-3 col-md-4" required>
											<option value="" disabled selected>Couleur</option>
											{% for i in single_product.variation_set.colors  %}
												
											<option value="{{ i.variation_value | lower }}">{{ i.variation_value | safe | capfirst }}</option>

											{% endfor %}

										</select>
										<br>

										<select name="taille" id="" class="form-control col-sm-3 col-md-4" required>
											<option value="" disabled selected >Taille</option>
											{% for i in single_product.variation_set.sizes  %}
												
											<option value="{{ i.variation_value | lower }}">{{ i.variation_value | safe | capfirst }}</option>

											{% endfor %}
										</select>
										
									</div>

									{% endif %}


								</div> 

								{% if single_product.stock >= 1 or single_product.is_available != False %}


								<div class="form-group col-md">
										<button href=""  class="btn  btn-primary"> 
											<i class="fas fa-shopping-cart"></i> <span class="text">Ajouter au panier</span> 
										</button>
								</div>

							{% endif %}

						</article>
					</main> 
			</div> 

		</form>
      <!-- ================ ITEM DETAIL END .// ================= -->
	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y bg">
  <div class="container">
    <div class="row">
    	<div class="col-md-8">
    		<h5 class="title-description">Description</h5>
    		<p>
        {{ single_product.description|safe }}
    		</p>

    		{% if single_product.specification %}
    			
    		<h5 class="title-description">Specifications</h5>

    		{{ single_product.specification|safe }}

    		{% endif %}

    	</div> <!-- col.// -->
    	
    	<aside class="col-md-4">

    		<div class="box">
    		
    		<h5 class="title-description">Files</h5>
    			<p>
    				{% lorem p random %}
    			</p>

        <h5 class="title-description">Videos</h5>
          

        <article class="media mb-3">
          <a href="#"><img class="img-sm mr-3" src="{% static 'images/posts/3.jpg' %}"></a>
          <div class="media-body">
            <h6 class="mt-0"><a href="#">How to use this item</a></h6>
            <p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
          </div>
        </article>

        <article class="media mb-3">
          <a href="#"><img class="img-sm mr-3" src="{% static 'images/posts/2.jpg' %}"></a>
          <div class="media-body">
            <h6 class="mt-0"><a href="#">New tips and tricks</a></h6>
            <p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
          </div>
        </article>

        <article class="media mb-3">
          <a href="#"><img class="img-sm mr-3" src="{% static 'images/posts/1.jpg' %}"></a>
          <div class="media-body">
            <h6 class="mt-0"><a href="#">New tips and tricks</a></h6>
            <p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
          </div>
        </article>


    		
    	</div> <!-- box.// -->
    	</aside> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock content %}