{% load static %}

<!-- ============================  FILTER TOP  ================================= -->
<div class="card mb-3">
	<div class="card-body">
		<ol class="breadcrumb float-left">
			<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
			<li class="breadcrumb-item"><a href="#">Category name</a></li>
			<li class="breadcrumb-item active">Item details</li>
		</ol>
	</div> <!-- card-body .// -->
</div> <!-- card.// -->
<!-- ============================ FILTER TOP END.// ================================= -->
